body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

/* El contenedor del video */
        .video-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -1; /* Para que quede detrás del contenido */
        }

        /* El video ocupa toda la pantalla */
        .video-background video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%);
            object-fit: contain; /* Muestra el video completo sin recortar */
            z-index: -1; /* Para que quede detrás del contenido */
        }

header{
    border-radius: 0.5rem;
    background-color: #20c2d0;
    padding: 4vh;
    text-align: center;
}

.container{
    display: flex;
   justify-content: space-evenly;
    align-items: center; 
}

li{
     list-style: none;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;}


    section{
        display: flex;
        color : #20c2d0;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    
    }

    .RGO{
        display: flex;
      flex-direction: column;
        justify-content: center;
        align-items: center;
        margin :  15vw;
    }


    .titulo{
        font-size: 3rem;
        font-weight: 800;
        margin-right: 2vw;
        color: #20c2d0;
        letter-spacing: 1px;
        text-shadow:
            0 0 4px rgba(32,194,208,0.9),
            0 0 10px rgba(32,194,208,0.8),
            0 0 20px rgba(32,194,208,0.6),
            0 0 40px rgba(32,194,208,0.4),
            0 0 60px rgba(32,194,208,0.2);
    }
    
    button{
        margin: 1rem 0;
        padding: 1vh 2vw;
        font-size: 1.5rem;
        background-color: #20c2d0;
        color: #000000cb;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .hero2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin : 3vw;
    }


    .hero2 img{
        width: 700px;
        height: auto;
        margin-left: 8vw;
        border-radius: 50%;
    }
  
    .hero2 h3{
        text-align: center;
        font-size: 1.5rem;


    }
   